.imageList {
    columns: 6 300px;
    column-gap: 15px;
    margin-top: 10px;
}

img {
    border: 2px solid #ff3d0036;
    box-shadow: 4px 7px 7px 0px #00000042;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;

}

#App-header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#App-header input {
    flex: 1;
    /* Allow the input to take available space */
    padding: 6px 15px;
    /* Add padding for comfort */
    font-size: 1rem;
    /* Set a reasonable font size */
    border: none;
    border-radius: 8px;
    /* Rounded corners */
    outline: none;
    /* Remove outline */
    background-color: rgba(255, 255, 255, 0.8);
    /* Slightly transparent */
}

#App-header button {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    /* Change cursor on hover */
    padding: 8px;
    /* Add padding to button */
}

@media (max-width: 600px) {

    #App-header {
        width: 100%;
        /* Full width on mobile */
        margin-top: 10px;
        /* Space above the search bar */
    }

    img {
        width: 100%;
    }
}