* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Add box-sizing to include padding/border in width/height */
  font-family: 'Roboto', sans-serif;
  /* Use a consistent font */
}


.navBar {
  background-color: #2EACB6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  /* Reduce padding for smaller screens */
  position: relative;
}


.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}