* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Add box-sizing to include padding/border in width/height */
  font-family: 'Roboto', sans-serif;
  /* Use a consistent font */
}


.navBar {
  background-color: #2EACB6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  /* Reduce padding for smaller screens */
  position: relative;
}


.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}

.RL-Button {
  display: inline-block;
  padding: 8px 30px;
  font-size: 12px;
  border: solid 2px #FFFFFF;
  border-radius: 8px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
}

.RL-Button:hover {
  background-color: #ffc342;
}

#Register {
  margin-right: 10px;
}




@media (min-width: 600px) {
  .imageList {
    columns: 3 200px;
  }
}

@media (min-width: 900px) {
  .imageList {
    columns: 4 250px;
  }
}

@media (min-width: 1200px) {
  .imageList {
    columns: 6 200px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    /* Stack items vertically */
  }



  .logo {
    font-size: 1.5rem;
    /* Responsive logo size */
    text-align: center;
    /* Center logo on small screens */
  }

}